<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {% for band in bands %}
        {% if session ['user_id'] == band.user.id%}
        <a href="/band/{{ band.id }}">My Bands</a>
        {% else %}
        {% endif %}
    {% endfor %}
    <a href="/new">New band</a>
    <a href="/logout">Log out</a>
    <h2>All Bands</h2>
    <table>
        <thead>
            <tr>
                <th>Band Name</th>
                <th>Founding Member</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for band in bands %}
                <tr>
                    <td>{{band.band_name}}</td>
                    <td>{{band.user.first_name}} {{band.user.last_name}}</td>
                    <td>{{band.music_genre}}</td>
                    {% if session ['user_id'] == band.user.id%}
                    <td><a href="/band/{{ band.id }}/edit">Edit</a></td>
                    <td><a href="/delete/{{band.id}}">Delete</a></td>
                    {% else %}
                    
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>