<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Edit a band</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
<h1> Rock On {{band.user.first_name}} {{band.user.last_name}}!!!</h1>
<h2> Edit The {{band.band_name}} </h2>
<a href="/dashboard">Dashboard</a>
<a href="/logout">Log out</a>
<form action="/band/{{ band.id }}/update" method="POST">
    {% with messages = get_flashed_messages(category_filter=["band"]) %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        <label>Band Name:</label>
        <input type= "text" name="band_name" value="{{band.band_name}}">
    </div> 
    <div>
        <label>Music Genre:</label>
        <input type= "text" name="music_genre" value="{{band.music_genre}}">
    </div>
    <div>
        <label>Home City:</label>
        <input type= "text" name="home_city" value="{{band.home_city}}">
    </div>
    <input type="submit" value="Update">
</form>
</body>
</html>