<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Add a New band</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
</form>
<a href="/dashboard">Dashboard</a>
<a href="/logout">Log out</a>
{% for band in bands %}
        {% if session ['user_id'] == band.user.id%}
        <a href="/band/{{ band.id }}">My Band</a>
        {% else %}
        {% endif %}
{% endfor %}
{% with messages = get_flashed_messages(category_filter=["band"]) %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1>Create A Band</h1>
<form action="/band/create" method="POST">
    <input type="hidden" name="user_id" value="{{session['user_id']}}">
    <div>
        <label>Band Name:</label>
        <input type= "text" name="band_name">
    </div> 
    <div>
        <label>Music Genre:</label>
        <input type= "text" name="music_genre">
    </div>
    <div>
        <label>Home City:</label>
        <input type= "test" name="home_city">
    </div>
    <input type="submit" value="Create">
</form>
</body>
</html>