<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>band band</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Rock On {{band.user.first_name}} {{band.user.last_name}}!!!</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Log out</a>
    <h2>My Bands:</h2>
    <h1>{{band.band_name}}</h1>
    <h4>Posted By: {{band.user.first_name}} {{band.user.last_name}}</h4>
</body>
</html>